<div>
  <h2>Bem vindo {{ title }}</h2>
  <form (ngSubmit)="formSubmit()" [formGroup]="form">
    <div class="todos__form">
      <label>Descrição</label>
      <input formControlName="description" type="text" />
      <span
        *ngIf="
          form.controls.description.invalid &&
          !form.controls.description.pristine
        "
        >Esse campo deve ter entre 5 e 10 caracteres</span
      >
      <label>Dono</label>
      <input formControlName="owner" type="text" />
      <span *ngIf="form.controls.owner.invalid && !form.controls.owner.pristine"
        >Esse campo deve ter entre 5 e 10 caracteres</span
      >
      <label>Feito?</label>
      <input type="radio" formControlName="done" [value]="true" />
      Sim <input type="radio" formControlName="done" [value]="false" /> Não
      <button class="todos__form__button" [disabled]="form.invalid">
        Adicionar
      </button>
    </div>
  </form>

  <h2>Listagem de Todos</h2>
  <button (click)="show(!listVisible)">
    {{ listVisible ? "Fechar Listar" : "Abrir Lista" }}
  </button>
  <div *ngIf="listVisible; then contentList; else EmptyList"></div>

  <ng-template #contentList>
    <div class="todos__list">
      <span>Listá está aberta</span>
      <ul *ngFor="let todo of todos">
        <li>
          <div class="todos__list__item">
            <div class="todos__list__item__content">
              <span> id: {{ todo.id }} </span>
              <span> description: {{ todo.description }} </span>
              <span> owner {{ todo.owner }} </span>
              <span> feito? {{ todo.done }} </span>
            </div>
            <button
              *ngIf="!todo.done"
              class="todos__list__item__button"
              (click)="makeIsDone(todo)"
            >
              Done
            </button>
            <button
              class="todos__list__item__button button--delete"
              (click)="removeTodo(todo.id)"
            >
              remover
            </button>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
  <ng-template #EmptyList>
    <div>
      <h1>A lista fechada</h1>
    </div>
  </ng-template>
</div>
